
<mat-card class="cardWithShadow theme-card">

    <mat-card-header>
        <mat-card-title class="mat-mdc-card-title m-b-0 ">View Discount Blocks</mat-card-title>
      </mat-card-header>
    <mat-card-content class="b-t-1">
     
      <!-- <mat-card-subtitle class="mat-body-1">This is test page</mat-card-subtitle> -->
  
      <div class="basic-container p-20 m-auto">


        <div class="row">
            <div class="col-md-3">
                <mat-card class="cardWithShadow backClr bg-c-blue">
                    <mat-card-content class="b-t-1">
                        <mat-list>
                            <!-- <mat-list-item> -->
                                <div class="row">
                                    <div class="col-md-8 col-8">
                                        <a class="a" href="/admin/create-blockon-scheme">
                                            <span matListItemTitle class="f-s-16 f-w-600">Create</span>
                                            <span matListItemLine class="mat-body-1">Block Schemes</span>
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-4">
                                        <mat-icon> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="white" className="w-6 h-6">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                          </svg></mat-icon>
                                    </div>
                                </div>
                    
                              
                            <!-- </mat-list-item> -->
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
    
            <div class="col-md-3">
                <mat-card class="cardWithShadow backClr bg-c-green">
                    <mat-card-content class="b-t-1">
                        <mat-list>
                            <div class="row">
                                <div class="col-md-8 col-8">
                                    
                            <a class="a" href="/admin/view-blockon-scheme">
                                <span matListItemTitle class="f-s-16 f-w-600">View</span>
                                <span matListItemLine class="mat-body-1">Block Schemes</span>
                            </a>
                                </div>
                                <div class="col-md-4  col-4">
                                    <mat-icon> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="white" className="w-6 h-6">
                                        <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                        <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                      </svg>
                                      </mat-icon>
                                </div>
                            </div>
    
                            <!-- </mat-list-item> -->
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>


            <div class="col-md-3">
                <mat-card class="cardWithShadow backClr bg-c-yellow">
                    <mat-card-content class="b-t-1">
                        <mat-list>

                            <div class="row">
                                <div class="col-md-8 col-8">
                                    
                                    <a class="a" href="/admin/issue-blocks-to-store">
                                        <span matListItemTitle class="f-s-16 f-w-600">Issue Blocks</span>
                                        <span matListItemLine class="mat-body-1">To Store</span>
                                    </a>
                                </div>
                                <div class="col-md-4 col-4">
                                    <mat-icon>  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="white" className="w-6 h-6">
                                        <path strokeLinecap="round" strokeLinejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                                      </svg>
                                      </mat-icon>
                                </div>
                            </div>
                            <!-- <mat-list-item> -->
                            <!-- <span matListItemTitle class="f-s-16 f-w-600">Issue Blocks</span>
                                <span matListItemLine class="mat-body-1">To Store</span> -->
                           
                           
                              
                            <!-- </mat-list-item> -->
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
    
            <div class="col-md-3">
                <mat-card class="cardWithShadow backClr bg-c-pink " >
                    <mat-card-content class="b-t-1">
                        <mat-list>

                            <div class="row">
                                <div class="col-md-8 col-8">
                                    
                                    <a class="a" href="/admin/store-settlement-report">
                                        <span matListItemTitle class="f-s-16 f-w-600">Settlement</span>
                                        <span matListItemLine class="mat-body-1">& Issued Blocks</span>
                                    </a>
                                </div>
                                <div class="col-md-4 col-4">
                                    <mat-icon> 
                                     
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="white" className="w-6 h-6">
                                <path strokeLinecap="round" strokeLinejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                              </svg>
                                      </mat-icon>
                                </div>
                            </div>
                            <!-- <mat-list-item>
                                <span matListItemTitle class="f-s-16 f-w-600">Settlement</span>
                                <span matListItemLine class="mat-body-1">& Issued Blocks</span>
                            </mat-list-item> -->
                          
                              
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    
        <!-- <div class="row">
            <div class="col-md-4">
                <mat-card class="cardWithShadow backClr">
                    <mat-card-content class="b-t-1">
                        <mat-list>
                          
                            <a class="a" href="/admin/issue-blocks-to-store">
                                <span matListItemTitle class="f-s-16 f-w-600">Issue Blocks</span>
                                <span matListItemLine class="mat-body-1">To Store</span>
                            </a>
                          
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
    
            <div class="col-md-4">
                <mat-card class="cardWithShadow backClr" >
                    <mat-card-content class="b-t-1">
                        <mat-list>
                           
                            <a class="a" href="">
                                <span matListItemTitle class="f-s-16 f-w-600">Settlement</span>
                                <span matListItemLine class="mat-body-1">& Issued Blocks</span>
                            </a>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div> -->
    
        <!-- <section>
            <mat-card class="col-md-3 backClr btn-new" style="margin: auto;">
              <mat-card-content class="d-flex network-btn">
                <mat-card-title class="m-b-0 " style="color:rgb(247, 246, 248) ;">View Network  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg></mat-card-title>
              </mat-card-content>
            </mat-card>
          </section> -->
    </div>
  
  
    </mat-card-content>
  </mat-card>

  <hr style="opacity: 35%; border-top: dotted 3px;" />
  <br>
  <section>
    <mat-card class="col-md-3 backClr btn-new" style="margin: auto;">
      <mat-card-content class=" network-btn">
        <mat-card-title class="m-b-0 text-center" style="color:rgb(247, 246, 248) ;">
            <a class="m-b-0 text-center" style="color:rgb(247, 246, 248) ;" href="/admin/view-network">
                View Network 
            </a>
           <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg> -->
      </mat-card-title>
      </mat-card-content>
    </mat-card>
  </section>